extends layout.pug
include utils.pug
block head
block content
    +validationErrorSummary(errors)
    .title-container
        h1= title
    .index-container
        .index-topbar--container
            .sorted-display
                span#filter Search Results
        .search-result-body--container
        if (results)
           each result in results
            if (result.title)
                .search-result-container(class="search-result--container" onclick=`location.href="/questions/${result.id}"`)
                    .search-result--info
                    .search-result--content
                        span #{result.title.slice(0, (50 || null))}...
                        span#search-result--time=result.updatedAt
            if (result.answer)
                .search-result-container(class="search-result--container" onclick=`location.href="/questions/${result.questionId}"`)
                    .search-result--info
                    .search-result--votes 16 Votes
                    .search-result--content
                        span #{result.answer.slice(0, (50 || null))}...
                        span#search-result--time= result.updatedAt
        else 
            div There are no results for #{filter}