extends layout 
include utils


block content 
    link(rel="stylesheet" href="/stylesheets/user-profile.css")
    div 
        div(class="profile-container")
            div(class="profile-side-container")
                div(class="profile-avatar-container")
                    img(src=user.avatar, width=128, height=128)
                div(class="profile-stats-container")
                    h4 User since:
                    =user.createdAt
                div
                    div(class="edit-profile" onclick=`location.href='/users/edit/' + ${user.id}`) Edit Profile
            div(class="profile-main-container")
                div
                    h4 Username
                    =user.name
                div
                    h4 Email
                    =user.email
                div
                    h4 Bio
                    =user.bio
        div 
            div(class="user-questions")
                h4#profile-question #{user.name}'s Questions
                    each question in user.Questions
                        .profile-question--container
                            .profile-question--title=question.title 
                            .profile-question--updated=question.updatedAt
            div(class="user-answers")
                h4#profile-question #{user.name}'s Answers
                    each answer in user.Answers
                        .profile-answer--container
                            .profile-answer--title=answer.answer 
                            .profile-answer--updated=answer.updatedAt